.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 8%;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.navbar-logo h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 32px;
  align-items: center;
}

.navbar-link {
  font-size: 24px;
  position: relative;
  color: var(--color-black);
}

.highlight-line {
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: var(--color-pink);
  z-index: -1;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
